@page "/members/{startechType}"
@using BlazorTable
<h3>AdminMember</h3>
<Table TableItem="UserObject" Items="Users" PageSize="50">
    <Column TableItem="UserObject" Title="User Name" Field="@(x => x.UserName)" Sortable="true" Filterable="true"></Column>
    <Column TableItem="UserObject" Title="" >
        <Template>
            <a @onclick="@(() => View(context))" href="">view</a>
        </Template>
    </Column>
    <Column TableItem="UserObject" Title="" >
        <Template>
            <a @onclick="@(() => Remove(context))" href="">remove</a>
        </Template>
    </Column>
    <Pager ShowPageNumber="true" ShowTotalCount="true" />
</Table>
