@page "/"
@page "/Points/{UserId:int}"
@using BlazorTable
@if (!IsLoad)
{
    <h1>Loading, please wait ... </h1>
}
else
{
    <div>
        Name: @User?.UserName <br />
        Number of points: @User?.NumberOfpoints <br />
        Create: <NavLink href="@("/NewItem/" +  UserId.ToString() )" Match="NavLinkMatch.All" >Create new</NavLink>
    </div>
    <StarpointTable Items="Items" />
}
