@switch (Item.ValidationState)
{
    case ValidationState.InStudy:
        @if (IsLeaderOfItemStartech)
        {
            <div class="text-warning">
                <span class="oi oi-cog mr-2" />In Study (
                <button class="btn btn-outline-primary mx-2" @onclick="UpdateItem" >update</button>
                <button class="btn btn-outline-success mx-2" @onclick="() => UpdateState(ValidationState.Validated)"><span class="oi oi-check mr-2" />validate</button>
                <button class="btn btn-outline-danger mx-2" @onclick="() => UpdateState(ValidationState.Refused)"><span class="oi oi-x mr-2" />refuse</button>
                <button class="btn btn-outline-danger mx-2" @onclick="CancelItem"><span class="oi oi-ban mr-2" />suppress</button>)
                )
            </div>
        }
        else
        {
<div class="text-warning">
    <span class="oi oi-cog mr-2" />In Study (
    <button class="btn btn-outline-primary mx-2" @onclick="UpdateItem">update</button>
    <button class="btn btn-outline-danger mx-2" @onclick="CancelItem"><span class="oi oi-ban mr-2" />suppress</button>)
</div>
        }
        break;
    case ValidationState.Refused:
        @if (IsLeaderOfItemStartech)
        {
<div class="text-danger">
    <span class="oi oi-x mr-2" />Refused (
    <button class="btn btn-outline-primary mx-2" @onclick="UpdateItem">update</button>
    <button class="btn btn-outline-warning mx-2" @onclick="() => UpdateState(ValidationState.InStudy)"><span class="oi oi-cog mr-2" />in study</button>
    )
</div>
        }
        else
        {
            <div class="text-danger"><span class="oi oi-x mr-2" />Refused</div>
        }
        break;
    case ValidationState.Validated:
        @if (IsLeaderOfItemStartech)
        {
<div class="text-success">
    <span class="oi oi-check mr-2" />Validated (
    <button class="btn btn-outline-primary mx-2" @onclick="UpdateItem">update</button>
    <button class="btn btn-outline-warning mx-2" @onclick="() => UpdateState(ValidationState.InStudy)"><span class="oi oi-cog mr-2" />in study</button>
    )
</div>
        }
        else
        {
            <div class="text-success"><span class="oi oi-check mr-2" />Validated</div>
        }
        break;
    default:
        <span>todo</span>
        break;
}
